<!-- Defines the modal used for automatically creating presets -->
<div id="auto_presets_div" class="modal fade auto-presets-modal" tabindex="-1" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-flash"></span> Automatically
                    generate presets</h4>
            </div>
            <div class="modal-body">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="autopreset-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#autopreset_step1"
                                                                  aria-controls="autopreset_step1" role="tab" data-toggle="tab">Step 1</a>
                        </li>
                        <li role="presentation" class="disabled"><a href="#autopreset_step2"
                                                                    aria-controls="autopreset_step2" role="tab" data-toggle="tab">Step
                                2</a></li>
                        <li role="presentation" class="disabled"><a href="#autopreset_step3"
                                                                    aria-controls="autopreset_step3" role="tab" data-toggle="tab">Step
                                3</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="autopreset_step1">
                            <div class="row autopreset-canvas-row">
                                <div class="col-xs-4">
                                    <div class="autopreset-left-column">
                                        <div class="form-group">
                                            <label for="auto_preset_name"><span
                                                        class="glyphicon glyphicon-pencil"></span>
                                                Preset name <br>
                                                <small>Appended with a number for each preset</small>
                                            </label>
                                            <input id="auto_preset_name" class="form-control" maxlength="15" type="text">
                                        </div>
                                        <div class="form-group preset-create-tagsinput">
                                            <label for="preset-create-tagsinput"><span
                                                        class="glyphicon glyphicon-tags"></span> Tags <br>
                                                <small>Added to every generated preset</small>
                                            </label><br>
                                            <div class="atags_input">
                                                <input id="auto_preset_tags" class="form-control" type="text"
                                                       data-role="tagsinput"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="preset-create-tagsinput"><span
                                                        class="glyphicon glyphicon-wrench"></span> Settings <br>
                                                <small>Change the amount of presets generated</small>
                                            </label><br>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon label-auto-preset-input">Columns:</span>
                                            <input type="text" class="form-control" id="columns-amount" value="2"
                                                   readonly/>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        onclick="increaseColumnAmount(-1)"><span data-bind="label"
                                                                                                 class="glyphicon glyphicon-minus"></span>
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="increaseColumnAmount(1)"><span data-bind="label"
                                                                                                class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon label-auto-preset-input">Rows:</span>
                                            <input type="text" class="form-control" id="rows-amount" value="2"
                                                   readonly/>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        onclick="increaseRowAmount(-1)"><span data-bind="label"
                                                                                              class="glyphicon glyphicon-minus"></span>
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="increaseRowAmount(1)"><span data-bind="label"
                                                                                             class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon label-auto-preset-input">Levels:</span>
                                            <input type="text" class="form-control" id="levels-amount" value="2"
                                                   readonly/>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        onclick="increaseLevelAmount(-1)"><span
                                                            class="glyphicon glyphicon-minus"></span></button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="increaseLevelAmount(1)"><span
                                                            class="glyphicon glyphicon-plus"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8" style="text-align:center;display:inline-block;position:relative;">
                                    <div class="canvas-container img-responsive">
                                        <img id="auto-preset-creation-preview-image"
                                             data-src="holder.js/256x144?auto=yes&text=No Camera Selected&bg=8b8b8b">
                                        <canvas id="previewCanvas">
                                            Your browser does not support the HTML5 canvas tag.
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="autopreset_step2">
                            <div class="row">  
                                <div class="col-xs-6">
                                    <img id="auto-preset-creation-live-image" class="center-block img-reponsive" data-src="holder.js/256x144?auto=yes&text=No Camera Selected&bg=8b8b8b">
                                </div>
                                <div class="col-xs-6">
                                   <div class="canvas-container img-responsive">
                                        <img id="auto-preset-creation-preview-image"
                                             data-src="holder.js/256x144?auto=yes&text=No Camera Selected&bg=8b8b8b">
                                        <canvas id="generatingCanvas">
                                            Your browser does not support the HTML5 canvas tag.
                                        </canvas>
                                    </div>  
                                </div>
                            </div>
                            <div class="row">

                                <div class="progress center-block">
                                    <div class="progress-bar progress-bar-striped active" id="auto-preset-creation-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="autopreset_step3">
                            <h5>Select Presets</h5>
                            <small>Unselected presets will be discarded permanently</small>
                            <ul id="autopreset-generated">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="autopreset_cancelbutton" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button id="autopreset_startbutton" type="button" class="btn" onclick="autoCreatePresets()"><span
                            class="glyphicon glyphicon-ok"></span> Create presets
                </button>
                <button id="autopreset_savebutton" type="button" class="btn hidden" data-dismiss="modal" onclick="deleteUnselectedPresets()"><span
                            class="glyphicon glyphicon-ok"></span> Save presets
                </button>
            </div>
        </div>
    </div>
</div>
