 <div id="camera_area" class="col-xs-6">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox"></div>

            <!-- Controls -->
            <a id="carousel-left" class="left carousel-control" href="#carousel" role="button"
               data-slide="prev"></a>
            <a id="carousel-right" class="right carousel-control" href="#carousel" role="button"
               data-slide="next"></a>
        </div>
    </div>
    <div id="current_camera" class="col-xs-6">
        <img data-src="holder.js/256x144?auto=yes&text=No Camera Selected&bg=8b8b8b">
        <div class="camera_title">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            <span id="camera_title"></span>
        </div>
    </div>