<div id="left_area" class="col-xs-6">
    <!-- Area in which the presets will be generated -->
    <div id='tagsearch'>
        <i class="glyphicon glyphicon-search"></i>
        <input id="tagsearch_input" oninput='tagSearchInput($(this).val())' type="text"
               class="form-control typeahead" placeholder="Search a tag..." aria-describedby="sizing-addon2">
    </div>
    <div id="preset_area">

    </div>
</div>