<div id="right_area" class="col-xs-6 hidden-xs hidden-sm">
    <div class="control_buttons">
        <div class="btn-group">

        </div>
    </div>
    <div id="queue_area">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Preset Name</th>
                    <th>Camera Number</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
            <tr> <th scope="row">1</th> <td>Test</td> <td>Test</td> <td>Test</td> </tr>
            <tr> <th scope="row">1</th> <td>Test</td> <td>Test</td> <td>Test</td> </tr>

            </tbody>
        </table>
    </div>
</div>