<div id="select-module">
    <div id="select-left" class="col-xs-1"></div>
    <div id="select-current" class="col-xs-5">
        <img src="/api/backend/static/presets/1_0.jpg" class="col-xs-9">
        <h4>Current</h4>
        <span class="preset_title">PresetName</span>

        <span class="preset_camera" aria-hidden="true"><span class="glyphicon glyphicon-facetime-video"></span> 1</span>

    </div>
    <div id="select-upnext" class="col-xs-5">
        <img src="/api/backend/static/presets/2_2.jpg" class="col-xs-9">
        <h4>Up Next</h4>
        <span class="preset_title">PresetName</span>

        <span class="preset_camera" aria-hidden="true"><span class="glyphicon glyphicon-facetime-video"></span> 1</span>
    </div>
    <div id="select-right" class="col-xs-1"></div>

</div>