<div id="select-module">
    <div id="select-left" class="col-xs-1"></div>
    <div id="select-current" class="col-xs-5">
        <img data-src="holder.js/128x77?auto=yes&text=Current&bg=85ca85" class="col-xs-9">
        <h4>Current</h4>
        <span class="preset_title">-</span>

        <span class="preset_camera" aria-hidden="true"><span class="glyphicon glyphicon-facetime-video"></span> <span class="preset_camera_number">-</span></span>

    </div>
    <div id="select-upnext" class="col-xs-5">
        <img data-src="holder.js/128x77?auto=yes&text=Up Next&bg=f1bf7c" class="col-xs-9">
        <h4>Up Next</h4>
        <span class="preset_title">-</span>

        <span class="preset_camera" aria-hidden="true"><span class="glyphicon glyphicon-facetime-video"></span> <span class="preset_camera_number">-</span></span>
    </div>
    <div id="select-right" class="col-xs-1"></div>

</div>