<div id="left_area" class="col-xs-6">
    <!-- Area in which the presets will be generated -->
    <div class="tagsearch-container">
        <div id='tagsearch'>
            <i class="glyphicon glyphicon-search"></i>
            <input id="tagsearch_input" oninput='tagSearchInput($(this).val())' type="text"
                   class="form-control typeahead" placeholder="Search a preset..." aria-describedby="sizing-addon2">
        </div>
        <input id="editPresets" type="checkbox" data-toggle="toggle" data-size="small" data-onstyle="success" data-on="Edit Presets" data-off="Edit Presets" onclick="loadEditablePresets()">
    </div>
    <div id="preset_area">
    </div>
</div>