<div id="right_area" class="col-xs-6 hidden-xs hidden-sm">
    <div class="control_buttons">
        <div class="btn-group">

        </div>
    </div>
    <div id="control_area">
        <div class="row">
            test
        </div>
    </div>
</div>