<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
<div class="body_container">
    <% include ../partials/navbar %>

    <div id="top_area" class="row">
        <% include ../partials/modules/camera-module %>
    </div>

    <div id="body_area">
        <% include ../partials/modules/presets-module %>
        <% include ../partials/modules/controls-module %>
    </div>

    <% include ../partials/modals/create-preset %>
    <% include ../partials/modals/edit-preset %>
    <% include ../partials/modals/edit-tags %>

    <% include ../partials/js-includes %>
</div>
</body>
</html>