<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
<div class="body_container">
    <% include ../partials/navbar %>


    <div id="body_area">
        <% include ../partials/modules/presets-module %>
    </div>

    <% include ../partials/js-includes %>
</div>
</body>
</html>