body {
    background-color: #999999;
    padding-top: 50px;
}

/* Navigation bar labels */
nav .labelcontainer {
    position: absolute;
    top: 0px;
    right: 20px;
}

nav .label {
    position: relative;
    top: 15px;
    right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* These elements need their padding, margin and border reset to show properly */
.row, .col-xs-6, .col-xs-3 {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Top block consisting of the camera views, and the editing camera view.*/
#top_area {
    height: 28vw;
    overflow: hidden;
}

/* Camera block carousel */
#current_camera, #carousel, #camera_area, #camera_area .carousel-inner, #camera_area .carousel-inner * {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

#camera_area .row {
    height: 50%;
}

#current_camera img, #camera_area img {
    width: 100%;
    height: 100%;
}

/* Preset area configuration. */
#preset_area {
    height: 100%;
}

#preset_area img {
    width: 100%;
    height: 80px;
    border: 0;
    padding: 0;
    margin: 0;
}

#preset_area h5 {
    width: 100%;
    padding: 2px;
    margin: 0;
    text-align: center;
}

/* Colors below the preset images */
#preset_area .available {
    background-color: #5cb85c;
}

#preset_area .selected {
    background-color: #f0ad4e;
}

#preset_area .unavailable {
    background-color: #d9534f;
}

#preset_area .col-xs-3 .none {
    background-color: #666666;
}