body {
  background-color: #999999;
  padding-top: 50px;
}		
	
.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.label {
	position: relative;
	top: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

.carousel-inner .col-sm-6 {
	padding: 0;
}

.carousel-inner .row img {
	width: 100%;
	height: 144px;
	border: 0;
	padding: 0;
	margin: 0;
}

#current_camera img {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 288px;
}

#top_area {
	height: 288px;
	overflow: hidden;
}

.row {
	padding: 0;
	margin: 0;
}

.col-xs-6 {
	padding: 0;
	margin: 0;
}

#left_area .col-xs-3 {
	padding: 0;
	margin: 0;
}

#preset_area img {
	width: 100%;
	height: 80px;
	border: 0;
	padding: 0;
	margin: 0;
}

#left_area h5 {
	width: 100%;
	padding: 2px;
	margin: 0;
	text-align: center;
}

#left_area .available {
	background-color: #5cb85c;
}

#left_area .selected {
	background-color: #f0ad4e;
}

#left_area .unavailable {
	background-color: #d9534f;
}

#left_area .col-xs-3 .none {
	background-color: #666666;
}